{% extends 'mdrza/base.html' %}

{% block content %}
        <div class="woche">
		<h1>KW {{ woche.kwnr }}
		{% if user.is_authenticated and user.pk == woche.user.user.pk %}
		    <a class="btn btn-default btn-sm" href="{% url 'woche_edit' pk=woche.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}
		</h1>
            <h2>{{ woche_km }} Wochenkilometer</h2>
	    <p>Radler <a href="{% url 'radler_detail' pk=woche.user.pk %}">{{ woche.user.vname }} {{ woche.user.nname }}</a>
	    ist in der KW {{ woche.kwnr }} gefahren am:</p>
	    <ul>
	    {% if woche.mo %} <li>Montag {% if woche.mo_extra > 0 %}{{ woche.mo_extra }}mit  ExtraKilometern</li>{% endif %}{% endif %}
	    {% if woche.di %} <li>Dienstag {% if woche.di_extra > 0 %}mit {{ woche.di_extra }} ExtraKilometern</li> {% endif %}{% endif %}
	    {% if woche.mi %} <li>Mittwoch {% if woche.mi_extra > 0 %}mit {{ woche.mi_extra }} ExtraKilometern</li> {% endif %}{% endif %}
	    {% if woche.do %} <li>Donnerstag {% if woche.do_extra > 0 %}mit {{ woche.do_extra }} ExtraKilometern</li> {% endif %}{% endif %}
	    {% if woche.fr %} <li>Freitag {% if woche.fr_extra > 0 %}mit {{ woche.fr_extra }} ExtraKilometern</li> {% endif %}{% endif %}
    </ul>
    </div>
{% endblock %}
