{% extends "mdrza/base.html" %}

{% block title %}Einen Account anlegen{% endblock %}

{% block content %}
  <h1>Einen Account bei Mit dem Rad zur Arbeit anlegen</h1>
  <p>
	Der Benutzername ist nur ein Kurzname für die Anmeldung.
	<br/>
	Vor- und Nachname werden im nächsten Schritt nach der Einrichtung abgefragt.
	<br/>
	<u>Bitte beachten:</u> Beim Benutzernamen sind Leerzeichen nicht erlaubt.
	Verwenden Sie z.B. ihren Spitznamen.
  </p>

  <form action="" method="post">
	  {% csrf_token %} 
     	  {{ form.as_p }}
      <input type="submit" value="Anlegen">
  </form>
{% endblock %}
